nw-TakeoffConfiguration-10.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--Simple types-->
  <xs:simpleType name="variestype">
    <xs:restriction base="xs:integer">
      <xs:pattern value="0|1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="nametype">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="columnnametype">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z](([a-zA-Z0-9])*)"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tablenametype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ObjectResource"/>
      <xs:enumeration value="StepResource"/>
      <xs:enumeration value="ObjectStep"/>
      <xs:enumeration value="Step"/>
      <xs:enumeration value="Object"/>
      <xs:enumeration value="Item"/>
      <xs:enumeration value="ItemGroup"/>
      <xs:enumeration value="Resource"/>
      <xs:enumeration value="ResourceGroup"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="datatypetype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Number"/>
      <xs:enumeration value="Boolean"/>
      <xs:enumeration value="String"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="purposetype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RollUp"/>
      <xs:enumeration value="Input"/>
      <xs:enumeration value="Calculation"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="configurefiletype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Full"/>
      <xs:enumeration value="ItemResources" />
      <xs:enumeration value="Items"/>
      <xs:enumeration value="ItemSteps"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="unitssystemtype">
     <xs:restriction base="xs:string">
        <xs:enumeration value="Imperial"/>
        <xs:enumeration value="Metric" />
        <xs:enumeration value="Variable"/>
     </xs:restriction>
  </xs:simpleType>


  <xs:complexType name="currencytype">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" />
      <xs:element name="Code" type="xs:string" />
      <xs:element name="Symbol" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="unitstype">
    <xs:restriction base="xs:string">
      <xs:enumeration value=""/>
      <xs:enumeration value="count"/>
      <xs:enumeration value="currency"/>
      <xs:enumeration value="second"/>
      <xs:enumeration value="minute"/>
      <xs:enumeration value="hour"/>
      <xs:enumeration value="day"/>
      <xs:enumeration value="week"/>
      <xs:enumeration value="month"/>
      <xs:enumeration value="year"/>
      <xs:enumeration value="meter"/>
      <xs:enumeration value="centimeter"/>
      <xs:enumeration value="millimeter"/>
      <xs:enumeration value="feet"/>
      <xs:enumeration value="inch"/>
      <xs:enumeration value="yard"/>
      <xs:enumeration value="mile"/>
      <xs:enumeration value="kilometer"/>
      <xs:enumeration value="micrometer"/>
      <xs:enumeration value="mil"/>
      <xs:enumeration value="microinch"/>
      <xs:enumeration value="squaremeter"/>
      <xs:enumeration value="squarecentimeter"/>
      <xs:enumeration value="squaremillimeter"/>
      <xs:enumeration value="squarefeet"/>
      <xs:enumeration value="squareinch"/>
      <xs:enumeration value="squareyard"/>
      <xs:enumeration value="squaremile"/>
      <xs:enumeration value="squarekilometer"/>
      <xs:enumeration value="squaremicrometer"/>
      <xs:enumeration value="squaremil"/>
      <xs:enumeration value="cubicmeter"/>
      <xs:enumeration value="cubiccentimeter"/>
      <xs:enumeration value="cubicmillimeter"/>
      <xs:enumeration value="cubicfeet"/>
      <xs:enumeration value="cubicinch"/>
      <xs:enumeration value="cubicyard"/>
      <xs:enumeration value="cubicmile"/>
      <xs:enumeration value="cubicmil"/>
      <xs:enumeration value="gallon"/>
      <xs:enumeration value="degree"/>
      <xs:enumeration value="radian"/>
      <xs:enumeration value="kilogram"/>
      <xs:enumeration value="gram"/>
      <xs:enumeration value="pound"/>
      <xs:enumeration value="ounce"/>
      <xs:enumeration value="metricton"/>
      <xs:enumeration value="ton"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="unitsgrouptype">
     <xs:restriction base="xs:string">
        <xs:enumeration value="any"/>
        <xs:enumeration value="dimensionless" />
        <xs:enumeration value="length"/>
        <xs:enumeration value="area" />
        <xs:enumeration value="volume"/>
        <xs:enumeration value="angle"/>
        <xs:enumeration value="time" />
        <xs:enumeration value="currency"/>
        <xs:enumeration value="weight"/>
     </xs:restriction>
  </xs:simpleType>
   
  <xs:simpleType name="valuetype">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="formulatype">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <!--Complex types-->
  <xs:complexType name="Typefieldtype">
    <xs:simpleContent>
      <xs:extension base="datatypetype">
        <xs:attribute name="varies" type="variestype" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Purposefieldtype">
    <xs:simpleContent>
      <xs:extension base="purposetype">
        <xs:attribute name="varies" type="variestype" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Unitsfieldtype">
    <xs:simpleContent>
      <xs:extension base="unitstype">
        <xs:attribute name="varies" type="variestype" use="optional" />
        <xs:attribute name="group" type="unitsgrouptype" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Valuefieldtype">
    <xs:simpleContent>
      <xs:extension base="valuetype">
        <xs:attribute name="varies" type="variestype" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Formulafieldtype">
    <xs:simpleContent>
      <xs:extension base="formulatype">
        <xs:attribute name="varies" type="variestype" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="columndeftype">
    <xs:sequence>
      <xs:element name="Type" type="Typefieldtype"/>
      <xs:element name="Purpose" type="Purposefieldtype"/>
      <xs:element name="Formula" type="Formulafieldtype"/>
      <xs:element name="Value" type="Valuefieldtype"/>
      <xs:element name="Units" type="Unitsfieldtype"/>
    </xs:sequence>
    <xs:attribute name="Name" type="columnnametype" use="required" />
  </xs:complexType>

  <xs:complexType name="columnReftype">
    <xs:sequence>
      <xs:element name="Type" type="Typefieldtype" minOccurs="0"/>
      <xs:element name="Purpose" type="Purposefieldtype" minOccurs="0"/>
      <xs:element name="Formula" type="Formulafieldtype" minOccurs="0"/>
      <xs:element name="Value" type="Valuefieldtype" minOccurs="0"/>
      <xs:element name="Units" type="Unitsfieldtype" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="Name" type="columnnametype" use="required" />
  </xs:complexType>

  <xs:complexType name="tabledeftype">
    <xs:sequence>
      <xs:element name="ColumnRef" type="columnReftype" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="Name" type="tablenametype" use="required" />
  </xs:complexType>

  <xs:complexType name="globalconfigurationtype">
    <xs:sequence>
      <xs:element name="ConfigureFileType" type="configurefiletype"/>
      <xs:element name="UnitsSystem" type="unitssystemtype"/>
      <xs:element name="Currency" type="currencytype"/> 
      <xs:element name="Column" type="columndeftype" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="workbooktype">
    <xs:sequence>
      <xs:element name="GlobalConfiguration" type="globalconfigurationtype">
        <xs:unique name="GlobalColumnNameDefinition">
          <xs:selector xpath="Column" />
          <xs:field xpath="@Name" />
        </xs:unique>
      </xs:element>
      <xs:element name="Table" type="tabledeftype" minOccurs="9" maxOccurs="9">
        <xs:unique name="ColumnRefNameDefinition">
          <xs:selector xpath="ColumnRef" />
          <xs:field xpath="@Name" />
        </xs:unique>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Workbook" type="workbooktype">
    <xs:unique name="TableNameDefinition">
      <xs:selector xpath="Table" />
      <xs:field xpath="@Name" />
    </xs:unique>
  </xs:element>

</xs:schema>
